.createPiggy-wrapper {
    background: white;
    width: auto;
    padding: 40px;
    border-radius: 30px;
    font-family: Signika, sans-serif;
    overflow-y: scroll;
    max-height: 100vh;
    &::-webkit-scrollbar {
     width: 0;
    }
    text-align: center;
}

.createPiggy__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.createPiggy__description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}