@import "../../../../../../styles";

.dashboard-chart{
  margin-left: 30px;
  margin-top: 30px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  padding: 20px;

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
    padding-bottom: 20px;
    font-size: 18px;
  }

  &__amount{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .dashboard-chart{
    margin: 20px 0;
    width: auto;
  }
}

@media screen and (max-width: 950px) {
  .dashboard-chart{
    &__header{
      display: block;
    }

    &__amount{
      margin-top: 15px;
    }
  }
}