.forgot-password {
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 390px;

  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 6px 9px 15px 1px #00000033;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;

  &__title {
    margin: 10px;
  }

  &__logo {
    width: 60%;
  }
  &__error {
    height: 30px;
    margin-top: 10px;
    color: red;
    font-size: 0.8rem;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  &__
  &__login {
    font-size: 0.8rem;
    bottom: 23px;
    width: 80%;
    margin: auto;
    &__link {
      color: #582dda;
      &:hover {
        color: red;
      }
    }
  }
}

@media (max-width: 600px) {
  .forgot-password {
    height: auto;
    position: static;
    transform: none;
    width: 320px;
    margin: 40px auto;
  }
}

@media (max-width: 400px) {
  .forgot-password {
    height: 100vh;
    width: 320px;
    margin: auto;
  }
}
